body {
  height: fit-content;
  width: 800px;
  margin: 20px auto;
  background: #0c071f;
}

#main-app {
  background: rgba(9, 2, 48, 0.918);
  border-radius: 10px;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: open sans;
}

#flex {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
  height: fit-content;
}

#location-info {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #616161;
}

#location-info #city {
  color: #ff0080;
  opacity: 1;
}

#location-info #country {
  font-weight: 400;
  font-size: 14px;
}

#location-info #time-zone {
  font-weight: 400;
  font-size: 11px;
}

#time-date {
  border-radius: 10px;
  width: 200px;
  height: fit-content;
  padding: 5px;
  text-align: center;
}

#time-date h2 {
  color: #ff0080;
  font-weight: 400;
  font-size: 24px;
}

#time-date #time {
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 3px;
}

#time-date #date {
  font-size: 14px;
  color: #fff;
}

#weather {
  margin-top: 100px;
}

.temperature {
  background: #060136;
  color: #ff0080;
  height: 150px;
  width: 200px;
  margin: 5px auto;
  border-radius: 10px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.temperature img {
  position: absolute;
  top: -40%;
  left: -20%;
  height: 120px;
  width: 120px;
}

.temperature h1 {
  font-size: 50px;
}

.temperature h1 span {
  font-weight: 400;
  font-size: 40px;
  margin-left: 5px;
}

section {
  color: #ff0080;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: fit-content;
  margin: 20px auto;
  padding: 20px 10px;
}

section .weather-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #060136;
  height: 150px;
  width: 96%;
  margin: 5px;
  border-radius: 10px;
}

section .weather-info div {
  display: flex;
  flex-direction: column;
  align-items: end;
}

section .weather-info div h1 {
  font-size: 30px;
  font-weight: 700;
}

section .weather-info div .weather-value {
  font-size: 14px;
  color: #00fff2;
  font-weight: 500;
}

section .weather-info div .weather-unit {
  font-weight: 400;
  font-size: 14px;
  color: #ff0080;
}

section .weather-info .weather-icons {
  display: block;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  section {
    grid-template-columns: 1fr;
  }
}
