@import './variables';
@import './home';
@import './weather';

body{
    height: fit-content;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    background: $black;
    object-fit: cover;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: open sans;
}
#app{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
}
// #main-app{
//     background: red;
// }